body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    position: absolute;
    overflow: visible;
}
.container {
    width: 50vh;
    height: 50vh;
    background-color: white;
    border: 3px solid black;
    margin: 10px auto;
    overflow: visible;
}
